{% extends 'core/base.html' %}
{% block title %} Portafolio {% endblock %}
{% block background %}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}
{% block headers %}
    <h1>Portafolio</h1>
	<span class="subheading">Currículo</span>
{% endblock %}
{% block content %}
    
    {% for proyecto in proyectos %}
    <div class="row project">
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{{proyecto.image.url}}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title"> {{proyecto.title}}</h2>
            <p>{{proyecto.decription}}</p>
            {% if proyecto.link %}
            <p><a href="{{proyecto.link}}">Más información</a></p>
            {% endif %}
        </div>
    </div>
    {% endfor %}    

{% endblock %}  

