{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{perfil.user}}{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="row">
            <!-- Avatar -->
            <div class="col-md-2">
              {% if perfil.avatar %}
                <img src="{{perfil.avatar.url}}" class="img-fluid">
              {% else %}
                <img src="{%  static 'registration/img/no-avatar.jpg' %}" class="img-fluid">
              {% endif %}
              {% if request.user != perfil.user %}
                <a href="{% url 'messenger:start' perfil.user.username  %}" class="btn btn-primary btn-sm btn-block mt-3">
                     Enviar mensaje</a> 
              {% endif%}
            </div>
            <!-- Campos -->
            <div class="col-md-10">
              <h3>{{perfil.user}}</h3>
              {% if perfil.bio %}<p>{{profile.bio}}</p>{% endif %}
              {% if perfil.link %}<p><a href="{{perfil.link}}" target="_blank">{{perfil.link}}</a></p>{% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}